{
  "presets": ["next/babel"],
  "plugins": [
    ["emotion", { "inline": true }],
    [
      "module-resolver",
      {
        "alias": {
          "app": "."
        }
      }
    ],
    "transform-decorators-legacy"
  ]
}
