# Ignore all node_modules and vendored Ruby
node_modules
vendor

# Ignore Flow library definitions
flow-typed

# Ignore build artifacts
/packages/*/build
/packages/osascript/lib
.next

/packages/webpack-pwa-manifest-plugin/tests/**/test
/packages/webpack-pwa-manifest-plugin/tests/**/output