# Ignore build artifacts
/packages/config/build
/packages/config/src/__tests__/fixtures/behavior/syntax-error
/packages/dev-server/build
/packages/dev-tools/.next
/packages/dev-tools/build
/packages/dev-tools/fragmentTypes.json
/packages/expo-cli/build
/packages/expo-codemod/build
/packages/expo-optimize/build
/packages/image-utils/build
/packages/jest-preset-cli/build
/packages/json-file/build
/packages/json-file/__tests__/files
/packages/metro-config/build
/packages/next-adapter/build
/packages/package-manager/build
/packages/pkcs12/build
/packages/plist/build
/packages/pod-install/build
/packages/pwa/build
/packages/schemer/build
/packages/traveling-fastlane/packaging/vendor
/packages/traveling-fastlane/traveling-fastlane-*
/packages/traveling-fastlane/publishing/darwin/dist
/packages/traveling-fastlane/publishing/linux/dist
/packages/uri-scheme/build
/packages/xdl/build
/packages/xdl/caches
package.json

# Generated
.history
