name: Test Packages
on: [push]

jobs:

  test:
    strategy:
      matrix:
        node-version: [12.x]
        os: [ubuntu-latest]
        package: [config, expo-cli, json-file, package-manager, plist, pwa, schemer, xdl]
    name: ${{ matrix.package }} with Node ${{ matrix.node-version }} (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache node_modules
        id: cache_node_modules
        uses: actions/cache@master
        with:
          path: |
            node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}
      - run: yarn && yarn bootstrap

      - name: Coverage ${{ matrix.package }}
        run: cd packages/${{ matrix.package }} && yarn test --coverage
        env:
          CI: true
      - uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
          file: ./packages/${{ matrix.package }}/coverage/clover.xml # optional
          flags: ${{ matrix.package }} # optional
          fail_ci_if_error: true # optional (default = false)

