{
  "presets": ["es2015", "stage-1"],
  "plugins": [
    "transform-runtime",
    "transform-flow-strip-types",
    ["transform-inline-imports-commonjs", {
      "excludeNodeBuiltins": true,
    }]
  ],
  "sourceMaps": true,
}
